<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AT - BlockChain<%= title %></title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">AT mall</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        
      <div class="search">
          <input type="text" placeholder="검색어를 입력하시오">
          <button>검색</button>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/write">글쓰기</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">AT Mall</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">전자기기</a>
          <a href="#" class="list-group-item">의류</a>
          <a href="#" class="list-group-item">책/문구</a>
          <a href="#" class="list-group-item">가구</a>
          <a href="#" class="list-group-item">식품</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <!-- <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div> -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
          
          
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/product"><img class="card-img-top" src="/images/청자켓.jpg" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/product">청자켓</a>
                </h4>
                <h5>20000원 이상</h5>
                <p class="card-text">3번 입은 청자켓 더 안 입을거 같아서 팝니다~</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/product"><img class="card-img-top" src="/images/아이폰실버.jpg" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/product">아이폰8 실버 64g</a>
                </h4>
                <h5>선제</h5>
                <p class="card-text">공기계 급 처분 합니다. 챗 주세요</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/product"><img class="card-img-top" src="/images/철책상.jpg" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/product">책상 팝니다</a>
                </h4>
                <h5>직거래 선제</h5>
                <p class="card-text">책상 생활기스 조금 있습니다. 철재 책상입니다.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src= "/images/책.jpg" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">전공책 무나함</a>
                </h4>
                <h5>공짜</h5>
                <p class="card-text">수업 안들어서 깨끗함</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/product"><img class="card-img-top" src="/images/아이패드" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/product">아이패드</a>
                </h4>
                <h5>700,000</h5>
                <p class="card-text">아이패드 팝니다 1시간썻어여</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/product"><img class="card-img-top" src="/images/애플펜슬" alt="" width="200" height="200"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/product">튜닝 애플펜슬</a>
                </h4>
                <h5>70,000</h5>
                <p class="card-text">튜닝했지만 사용하는데 문제 없습니다</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">물건 상태 : &#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
